<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div class="col-md-4">
            <h3 class="mid-text"> <b>findAI</b> is a artificial intelligence models platform
                made to give everyday users the power
                of ai systems in every field. <br><br>
                Have an idea for AI model? <br> </h3>
                <a href="{{ url_for('model_idea') }}"><button class="btn btn-primary btn-lg know-button" type="button">Let us know</button></a>
        </div>

</body>
</html>