<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Footer -->
<footer class="navbar navbar-fixed-bottom">
  <!-- Section: Social media -->


    <div>
        <div class="icons">
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
        </div>
    </div>
    <!-- Right -->


  <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>