<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div class="col-md-4">
            <h3 class="mid-text">This is the
                <b> Weight loss model </b> <br>
                just upload your full body <br>
                frontal photo, <br>
                let the model process it and it<br>
                will show you how you might <br>
                look like after <br>
                completing your diet.<br>
                Try it! </h3>
        </div>

</body>
</html>