{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://kit.fontawesome.com/c983a4446d.js" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - findAI {% else %} Welcome to findAI {% endif %}
{% endblock %}

{% block navbar %}
    {% include 'snippets/navbar.html' %}
{% endblock %}


{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}

        {% endblock %}
    </div>

        {% block footer %}
        {% include 'snippets/footer.html' %}
        {% endblock %}

{% endblock %}
