{% extends "base.html" %}


{% block app_content %}

<div class="container">
    {%if current_user.is_authenticated %}
    <h2>Hello, {{ current_user.username }}!</h2>
    {% else %}
    <h1>Hello</h1>
    {% endif %}
    <h1> Welcome to findAI</h1>
    <div class="row">
        <div class="col-md-4" style="">
            <br>
            <p style="font-size:25px; color:#3fcf8e;">Where we make custom tailored <br>
                amazing AI models just for you<br>
                Check out our products.
            </p>
            <br>
            <br>
        </div>
        {% include 'snippets/desc.html' %}
        {% include 'snippets/image.html' %}
    </div>
</div>
<br>
<div class="container">


            <center>
                <h3> Check out our products</h3>
            </center>

</div>

<br>
<div class="container cards">
    <div class="row">
        <div class="col-md-4">
            <a href="{{ url_for('hair_trans') }}">
                <div class="service-card">
                    <center>
                        <h3> Hair Transplant </h3>
                    </center>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('weight_loss') }}">
                <div class="service-card">
                    <center>
                        <h3> Weight Loss </h3>
                    </center>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('muscle_gain') }}">
            <div class="service-card">
                <center>
                    <h3> Muscle Gain </h3>
                </center>
            </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}
