{% extends "base.html" %}


{% block app_content %}
<div class="container">
    <center>
    <p>Pricing</p>
    <h2 class="price"><strong>Predictable pricing, no surprises.</strong></h2>
    <h4>Check documentation for enterprise API implementation or just use the web UI, right away.</h4>
    </center>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="pricing-card">
                <h3 class="card-title">User</h3>
                <p> Great for a personal use and unlimited access. </p>
                <hr>
                <p> Only for </p>
                <h1 class="price">$2.99</h1>
                <p> Per month</p>
                <hr>
                <p> Get started with:</p>
                <ul>
                    <li><strong>User account</strong></li>
                    <li><strong>Zero setup needed</strong></li>
                    <li><strong>Easy web access</strong></li>
                    <li><strong>UI access only</strong></li>
                    <li><strong>1000 monthly requests</strong></li>
                    <li><strong>History keeping</strong></li>
                    <li><strong>Up to 500mb storage</strong></li>
                    <li><strong>Email contact support</strong></li>
                    <li><strong>Great for single use</strong></li>
                </ul>
                <br>
                <center>
                <a href=""><button class="btn btn-primary get-started" type="button">Get Started</button></a>
                </center>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pricing-card">
                <h3 class="card-title">Company</h3>
                       <p> Great for a company up to 10 users. </p>
                <hr>
                <p> Only for </p>
                <h1 class="price">$29.99</h1>
                <p> Per month</p>
                <hr>
                <p> Give your company a:</p>
                <ul>
                    <li><strong>Company account</strong></li>
                    <li><strong>Up to 10 users</strong></li>
                    <li><strong>Easy web access</strong></li>
                    <li><strong>UI/API access</strong></li>
                    <li><strong>10000 montly requests</strong></li>
                    <li><strong>History keeping</strong></li>
                    <li><strong>Up to 2gb storage</strong></li>
                    <li><strong>Call contact support</strong></li>
                    <li><strong>Great company use</strong></li>
                </ul>
                <br>
                <center>
                <a href=""><button class="btn btn-primary get-started" type="button">Get Started</button></a>
                </center>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pricing-card">
                <h3 class="card-title">Enterprise</h3>
                <p> Made for API large scale use. </p>
                <hr>
                <p> Please </p>
                <h1 class="price">Contact Us</h1>
                <p> For a better deal</p>
                <hr>
                <p> Provides your enterprise with:</p>
                <ul>
                    <li><strong>Company account</strong></li>
                    <li><strong>Web UI if needed</strong></li>
                    <li><strong>API access</strong></li>
                    <li><strong>Agreed upon requests</strong></li>
                    <li><strong>History keeping</strong></li>
                    <li><strong>Up to 10gb storage</strong></li>
                    <li><strong>On call customer support</strong></li>
                    <li><strong>Great stability</strong></li>
                    <li><strong>Private Slack channel</strong></li>
                </ul>
                <br>
                <center>
                <a href=""><button class="btn btn-primary get-started" type="button">Contact Us</button></a>
                </center>
            </div>
        </div>
    </div>
    <hr>
</div>


<div class="container">
    <h2> Our API is fast, reliable and easy to use:</h2>
    <p>It completely REST-based, integrable into your apps, just send a request and wait for the model to respond.</p>
    <p>You can use this curl command to try it out:</p>
    <div class="container-code">
        <p class="code-commands">curl https://www.ariton.ai/api/v1/hair_transplant=?</p>
    </div>
    <hr>
</div>
<div>
    <center>
        <h4 class="price">Compare prices</h4>
    </center>

</div>
{% endblock %}

