{% extends "base.html" %}

{% block app_content %}

<div class="container cards">
    <div class="row">
        <div class="col-md-4">
            <a href="{{ url_for('hair_trans') }}">
                <div class="card">
                    <center>
                        <h3> Hair Transplant </h3>
                    </center>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('weight_loss') }}">
                <div class="card">
                    <center>
                        <h3> Weight Loss </h3>
                    </center>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('muscle_gain') }}">
            <div class="card">
                <center>
                    <h3> Muscle Gain </h3>
                </center>
            </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}