{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <h2>{{ user.username }}</h2>
    <p>
        {{ user.username }} comes from {{ user.company.name }}.
    </p>
    <p>Usage history: </p>
    {% for entry in context.entries %}
    <div class="row">

            {% if entry.service == 'hair_transplant'%}
        <p style="text-align:left;padding-left:50px;"> Hair transplant </p>
            {% endif %}
        <div class="col-md-1 cfi">
            <div>
            <img id="ImageHis" src="data:image/png;base64,{{ entry.image }}">
            </div>
        </div>
        <div class="col-md-1 cfi">
            <div>
            <img id="ImageHisRes" src="data:image/png;base64,{{ entry.image }}">
            </div>
        </div>

        </div>
    {% endfor %}
    <br>
    <a href="{{ url_for('edit_profile') }}">Edit</a>
</div>
{% endblock %}